<footer class="site-footer">
  <div class="site-footer__top">
    <div class="container">
      <div class="site-footer__top-inner">
        <div class="site-footer-shape-1 float-bob-x" style="
                  background-image: url(/images/shapes/site-footer-shape-1.png);
                "></div>
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
            <div class="footer-widget__column footer-widget__about">
              <div class="footer-widget__logo">
                <a href="/#"><img src="/images/resources/logo.png" alt="" /></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
            <div class="footer-widget__column footer-widget__Explore">
              <div class="footer-widget__title-box">
                <h3 class="footer-widget__title">Explore</h3>
              </div>
              <ul class="footer-widget__Explore-list list-unstyled">
                <li><a href="/#about">About</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
            <div class="footer-widget__column footer-widget__Contact">
              <div class="footer-widget__title-box">
                <h3 class="footer-widget__title">Contact</h3>
              </div>
              <ul class="footer-widget__Contact-list list-unstyled">
                <li>
                  <div class="icon">
                    <span class="fas fa-phone-square-alt"></span>
                  </div>
                  <div class="text">
                    <p><a href="tel:263781165375">+263 78 116 5375 / +263 78 116 5374</a></p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <span class="fas fa-envelope"></span>
                  </div>
                  <div class="text">
                    <p>
                      <a href="mailto:info@nationalfertilizer.org">info@nationalfertilizer.org</a>
                    </p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <span class="icon-pin"></span>
                  </div>
                  <div class="text">
                    <p>76 Plymouth Road, Southerton</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="site-footer__bottom-inner">
            <p class="site-footer__bottom-text">
              © Copyright {{year}}
            </p>
            <div class="site-footer__social">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="site-footer__bottom-scroll">
              <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-up-arrow"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>