<header class="main-header-two">
  <div class="main-header-two__inner">
    <div class="main-header-two__top">
      <div class="container">
        <div class="main-header-two__top-inner">
          <div class="main-header-two__logo">
            <a href="/#"><img src="/images/resources/logo.png" alt="" /></a>
          </div>
          <div class="main-header-two__top-left">
            <ul class="list-unstyled main-header-two__contact-list">
              <li>
                <div class="icon">
                  <i class="icon-email"></i>
                </div>
                <div class="text">
                  <p>
                    <a href="mailto:info@batguano.org">info@batguano.org</a>
                  </p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="icon-pin"></i>
                </div>
                <div class="text">
                  <p>80 Broklyn Golden Street USA</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fas fa-phone-alt"></i>
                </div>
                <div class="text">
                  <p><a href="tel:9200886823">+92 (0088) 6823</a></p>
                </div>
              </li>
            </ul>
          </div>
          <div class="main-header-two__top-right">
            <div class="main-header-two__social">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-header-two__bottom">
      <nav class="main-menu main-menu-two">
        <div class="main-menu-two__wrapper">
          <div class="container">
            <div class="main-menu-two__wrapper-inner">
              <div class="main-menu-two__left">
                <div class="main-menu-two__main-menu-box">
                  <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                  <ul class="main-menu__list one-page-scroll-menu">
                    <li class="current scrollToLink">
                      <a href="/#home">Home </a>
                    </li>
                    <li class="scrollToLink">
                      <a href="/#about">About</a>
                    </li>
                    <li class="scrollToLink">
                      <a href="/#services">Services</a>
                    </li>
                    <li class="scrollToLink">
                      <a href="/#projects">Projects</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="main-menu-two__right">
                <div class="main-menu-two__search-cart-btn-box">
                  <div class="main-menu-two__btn-box">
                    <a href="/#contact-us" class="thm-btn main-menu-two__btn">Get Free Quote <i class="icon-right-arrow"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>