<section class="container" id="bat-guano">
  <div class="row">
    <div class="col-xl-12">
      <div class="project-details__top">
        <div class="project-details__img">
          <img src="/images/guano/banner.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="project-details__content">
    <div class="row">
      <div class="col-xl-8 col-lg-8">
        <div class="project-details__content-left">
          <h3 class="project-details__title-1">What Is Bat Guano?</h3>
          <p class="project-details__text-1">
            Bat guano is a highly effective 100% natural fertilizer due to its exceptionally high content of nitrogen, phosphate, and potassium, all
            key nutrients essential for plant growth. It can be safely used as a fertilizer, both indoors and outdoors, and will benefit vegetables,
            herbs, flowers, all ornamentals, and fruit and nut trees. Its primary ingredients are roughly 10% nitrogen, 3% phosphorous, and 1%
            potassium
          </p>
          <p class="project-details__text-2">
            Gardeners also use bat guano as a type of manure fertilizer in their gardens. It helps your plants to thrive and become healthier,
            stronger, and greener. It also helps considerably with flower development. Bat guano nutrients are rated 10-3-1, which means they give
            your plants the three most important nutrients for growth. It’s also a good activator for compost because it helps speed up the process of
            decomposition.</p>
          <h3 class="project-details__title-2">Benefits Of Bat Guano</h3>
          <p class="project-details__text-3">
            Bat guano supplies more than just nutrients to your plants. It also carries beneficial micro-organisms or microbes. Microbes are minuscule
            single-cell organisms that cannot be seen with the naked eye. The microbes found in bat guano have bioremediation capabilities. What this
            essentially means is that it can remove the toxicity of your garden soil. Plus, these helpful microbes loosen the soil
            which increases its water-holding capacity and air space. These microbes will break down the dried organic material in your soil and turn
            it into a source of nutrients for your plants. This will also create a soil texture that will retain moisture without overly saturating
            your plants’ roots.
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4">
        <div class="project-details__content-right">
          <div class="project-details__details-box">
            <div class="project-details__bg-shape" style="background-image: url(/images/shapes/project-details-shape-1.png);">
            </div>
            <img src="/images/guano/package.png" />
          </div>
        </div>
      </div>
      <p>.</p>
    </div>
  </div>
</section>