<section class="about-two" id="about">
  <div class="about-two__bg float-bob-x">
    <img src="/images/backgrounds/about-two-bg-1.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <div class="about-two__left">
          <div class="about-two__img wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
            <img src="/images/resources/about-one-1.jpg" alt="" />
            <div class="about-two__experience">
              <div class="about-two__experience-count-box">
                <h3 class="odometer" data-count="18">00</h3>
                <span class="about-two__experience-plus">+</span>
              </div>
              <p class="about-two__experience-text">
                Years of <br />
                Experience
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-7">
        <div class="about-Two__right">
          <div class="section-title text-left">
            <span class="section-title__tagline">Welcome to Agrion Farm</span>
            <h2 class="section-title__title">
              We’re Leading organic and agriculture market
            </h2>
            <div class="section-title__icon">
              <img src="/images/icon/section-title-icon-1.png" alt="" />
            </div>
          </div>
          <p class="about-two__text">
            There are many variations of passages of available, but the
            majority have suffered alteration in some form, by injected
            humour, or randomised words which don’t look even slightly
            believable.
          </p>
          <ul class="about-two__points list-unstyled">
            <li>
              <div class="about-two__icon">
                <span class="fa fa-check"></span>
              </div>
              <div class="about-two__title">
                <h3>
                  Best Quality <br />
                  Standards
                </h3>
              </div>
            </li>
            <li>
              <div class="about-two__icon">
                <span class="fa fa-check"></span>
              </div>
              <div class="about-two__title">
                <h3>Natural Healthy <br />Products</h3>
              </div>
            </li>
            <li>
              <div class="about-two__icon">
                <span class="fa fa-check"></span>
              </div>
              <div class="about-two__title">
                <h3>
                  Smart Oragnic <br />
                  Services
                </h3>
              </div>
            </li>
          </ul>
          <div class="about-two__btn-box">
            <a href="about.html" class="thm-btn">Discover More <i class="icon-right-arrow"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>