<section class="contact-two">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Write a Message</span>
            <h2 class="section-title__title">Always here to help you</h2>
            <div class="section-title__icon">
                <img src="/images/icon/section-title-icon-1.png" alt="">
            </div>
        </div>
        <div class="contact-two__form-box">
            <form action="https://layerdrops.com/agrion/main-html//inc/sendemail.php" class="contact-two__form contact-form-validated"
                novalidate="novalidate">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="contact-form__input-box">
                            <input type="text" placeholder="Your Name" name="name">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="contact-form__input-box">
                            <input type="email" placeholder="Email Address" name="email">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="contact-form__input-box">
                            <input type="text" placeholder="Phone" name="Phone Number">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="contact-form__input-box">
                            <input type="text" placeholder="Subject" name="Subject">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="contact-form__input-box text-message-box">
                            <textarea name="message" placeholder="Write a Comment"></textarea>
                        </div>
                        <div class="contact-form__btn-box">
                            <a href="about.html" class="thm-btn contact-two__btn">Send a Message<i class="icon-right-arrow"></i> </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>