<section class="faq-page">
  <div class="faq-page-shape-1 float-bob-x" style="background-image: url(/images/shapes/faq-page-shape-1.png);">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="faq-page__single">
          <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-1">
            <div class="accrodion active">
              <div class="accrodion-title">
                <h4>Company Provides a Full Range of Services?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum leo
                    ligula, vitae commodo nisl. Lorem ipsum dolor sit amet, consectetur
                    adipisi cing elit.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>Home Improvement Works are Expensive?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum leo
                    ligula, vitae commodo nisl. Lorem ipsum dolor sit amet, consectetur
                    adipisi cing elit.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>Taking Seamless Key Performance Indicators?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum leo
                    ligula, vitae commodo nisl. Lorem ipsum dolor sit amet, consectetur
                    adipisi cing elit.</p>
                </div><!-- /.inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="faq-page__single">
          <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-2">
            <div class="accrodion active">
              <div class="accrodion-title">
                <h4>Company Provides a Full Range of Services?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum leo
                    ligula, vitae commodo nisl. Lorem ipsum dolor sit amet, consectetur
                    adipisi cing elit.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>Home Improvement Works are Expensive?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum leo
                    ligula, vitae commodo nisl. Lorem ipsum dolor sit amet, consectetur
                    adipisi cing elit.</p>
                </div><!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>Taking Seamless Key Performance Indicators?</h4>
              </div>
              <div class="accrodion-content">
                <div class="inner">
                  <p>Suspendisse finibus urna mauris, vitae consequat quam vel. Vestibulum leo
                    ligula, vitae commodo nisl. Lorem ipsum dolor sit amet, consectetur
                    adipisi cing elit.</p>
                </div><!-- /.inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>