<section class="feature-two">
  <div class="feature-two__bg" style="
            background-image: url(/images/backgrounds/feature-two-bg.jpg);
          "></div>
  <div class="container">
    <div class="row">
      <!--Feature Two Single Start-->
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
        <div class="feature-two__single">
          <div class="feature-two__inner">
            <div class="feature-two__icon">
              <span class="icon-agriculture"></span>
            </div>
            <div class="feature-two__content">
              <h3 class="feature-two__title">
                <a href="#about-us">Technology</a>
              </h3>
              <p class="feature-two__subtitle">We’ve been using tech</p>
            </div>
          </div>
          <div class="feature-two__count"></div>
        </div>
      </div>
      <!--Feature Two Single End-->
      <!--Feature Two Single Start-->
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
        <div class="feature-two__single">
          <div class="feature-two__inner">
            <div class="feature-two__icon">
              <span class="icon-farmer-1"></span>
            </div>
            <div class="feature-two__content">
              <h3 class="feature-two__title">
                <a href="#about-us">Best Farmers</a>
              </h3>
              <p class="feature-two__subtitle">Skilled team of farmers</p>
            </div>
          </div>
          <div class="feature-two__count"></div>
        </div>
      </div>
      <!--Feature Two Single End-->
      <!--Feature Two Single Start-->
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
        <div class="feature-two__single">
          <div class="feature-two__inner">
            <div class="feature-two__icon">
              <span class="icon-certified"></span>
            </div>
            <div class="feature-two__content">
              <h3 class="feature-two__title">
                <a href="#about-us">We’re Certified</a>
              </h3>
              <p class="feature-two__subtitle">
                Agrion is certified market
              </p>
            </div>
          </div>
          <div class="feature-two__count"></div>
        </div>
      </div>
      <!--Feature Two Single End-->
      <!--Feature Two Single Start-->
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
        <div class="feature-two__single">
          <div class="feature-two__inner">
            <div class="feature-two__icon">
              <span class="icon-cargo"></span>
            </div>
            <div class="feature-two__content">
              <h3 class="feature-two__title">
                <a href="#about-us">We Deliver</a>
              </h3>
              <p class="feature-two__subtitle">We deliver everywhere</p>
            </div>
          </div>
          <div class="feature-two__count"></div>
        </div>
      </div>
      <!--Feature Two Single End-->
    </div>
  </div>
</section>