<section class="Provide-One">
  <div class="Provide-One__wrap">
    <div class="Provide-One__left">
      <div class="Provide-One__bg" style="
                background-image: url(/images/guano/product-front.jpg);
              "></div>
      <div class="provide-one__sopport">
        <div class="provide-one__support-icon">
          <span class="icon-harvester"></span>
        </div>
        <p class="provide-one__support-text">
          We’re here to support you every step of the way.
        </p>
      </div>
    </div>
    <div class="Provide-One__right">
      <div class="provide-one__bg-shape float-bob-x">
        <img src="/images/backgrounds/provide-one-shape-1.png" alt="" />
      </div>
      <div class="Provide-One__content">
        <div class="section-title text-left">
          <span class="section-title__tagline">Our Latest Product</span>
          <h2 class="section-title__title">Bat Guano
          </h2>
          <div class="section-title__icon">
            <img src="/images/icon/section-title-icon-1.png" alt="" />
          </div>
        </div>
        <p class="Provide-One__text">
          We strive to create high quality products which are environmentaly safe and give the best results our latest bat guano is the best in the
          market so far and it can be used as a soil conditioner, enriching the soil and improving drainage and texture. Bat guano is a suitable
          fertilizer for plants and lawns, making them healthy and green. It can be used as a natural fungicide, and it controls nematodes in the soil
          as well. In addition, bat guano makes an acceptable compost activator, speeding up the decomposition process.
        </p>
      </div>
    </div>
  </div>
</section>