<section class="Provide-One">
  <div class="Provide-One__wrap">
    <div class="Provide-One__left">
      <div class="Provide-One__bg" style="
                background-image: url(/images/backgrounds/provide-one-bg.jpg);
              "></div>
      <div class="provide-one__sopport">
        <div class="provide-one__support-icon">
          <span class="icon-harvester"></span>
        </div>
        <p class="provide-one__support-text">
          We’re here to support you every step of the way.
        </p>
      </div>
    </div>
    <div class="Provide-One__right">
      <div class="provide-one__bg-shape float-bob-x">
        <img src="/images/backgrounds/provide-one-shape-1.png" alt="" />
      </div>
      <div class="Provide-One__content">
        <div class="section-title text-left">
          <span class="section-title__tagline">Our Beneifts</span>
          <h2 class="section-title__title">
            pROVIDING HIGH QUALITY PRODUCTS
          </h2>
          <div class="section-title__icon">
            <img src="/images/icon/section-title-icon-1.png" alt="" />
          </div>
        </div>
        <p class="Provide-One__text">
          There cursus massa at urnaaculis estie. Sed aliquamellus vitae
          ultrs condmentum leo massa mollis estiegittis miristum nulla sed
          medy fringilla vitae.
        </p>
        <div class="Provide-One__progress-wrap">
          <div class="Provide-One__progress">
            <div class="Provide-One__progress-box">
              <div class="circle-progress"
                data-options='{ "value": 0.9,"thickness": 3,"emptyFill": "#36731f","lineCap": "square", "size": 108, "fill": { "color": "#ffcd1e" } }'>
              </div>
              <!-- /.circle-progress -->
              <span>90%</span>
            </div>
            <div class="Provide-One__progress-content">
              <h3>
                agriculture <br />
                Projects
              </h3>
            </div>
          </div>
          <div class="Provide-One__progress">
            <div class="Provide-One__progress-box">
              <div class="circle-progress"
                data-options='{ "value": 0.5,"thickness": 3,"emptyFill": "#36731f","lineCap": "square", "size": 108, "fill": { "color": "#ffcd1e" } }'>
              </div>
              <!-- /.circle-progress -->
              <span>66%</span>
            </div>
            <!-- /.about-five__progress-box -->
            <div class="Provide-One__progress-content">
              <h3>
                Quality <br />
                products
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>