<div class="services-details">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="services-details__left">
          <div class="services-details__need-help">
            <div class="services-details__need-help-bg" style="background-image: url(/images/services/services-details-need-help-bg.jpg);">
            </div>
            <h3 class="services-details__need-help-title">We have a wide range of organic agricultural products readily available</h3>
            <div class="services-details__need-help-icon">
              <span class="icon-phone-ringing"></span>
            </div>
            <div class="services-details__need-help-contact">
              <p>Give us a call any time</p>
              <a href="tel:263781165375">+263 78 116 5375</a>
              <br />
              <a href="tel:263781165374">+263 78 116 5374</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="services-details__right">
          <div class="services-details__content-box">
            <div class="services-details__img">
              <img src="/images/guano/product-2l.jpg" alt="">
              <div class="services-details__img-icon">
                <span class="icon-organic-food"></span>
              </div>
            </div>
            <h3 class="services-details__title">Why Choose Us</h3>
            <p class="services-details__text-1">NOS is an environmentally conscious organisation. We, therefore, encourage our users to protect the
              environment through correct and safe use of our products, and proper disposal of empty containers, as is displayed on our labels. We
              promise to go the extra mile in serving our clients, as well as, providing organic fertilizers of the highest quality.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>