<div class="services-details">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="services-details__left">
          <div class="services-details__need-help">
            <div class="services-details__need-help-bg" style="background-image: url(/images/services/services-details-need-help-bg.jpg);">
            </div>
            <h3 class="services-details__need-help-title">We’re Salling our <br> agriculture <br>
              products</h3>
            <div class="services-details__need-help-icon">
              <span class="icon-phone-ringing"></span>
            </div>
            <div class="services-details__need-help-contact">
              <p>Lorem ipsum dolor sit am cons sid</p>
              <a href="tel:12463330088">+ 1- (246) 333-0088</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="services-details__right">
          <div class="services-details__content-box">
            <div class="services-details__img">
              <img src="/images/services/services-details-img-2.jpg" alt="">
              <div class="services-details__img-icon">
                <span class="icon-organic-food"></span>
              </div>
            </div>
            <h3 class="services-details__title">Organic Products</h3>
            <p class="services-details__text-1">Lorem ipsum is simply free text used by copytyping
              refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et
              quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var
              sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy
              text of the printing and typesetting industry. Lorem Ipsum has been the ndustry
              standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.</p>
            <p class="services-details__text-2">When an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries,
              but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>