<div class="services-details">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="services-details__left">
          <div class="services-details__need-help">
            <div class="services-details__need-help-bg" style="background-image: url(/images/services/services-details-need-help-bg.jpg);">
            </div>
            <h3 class="services-details__need-help-title">We’re Salling our <br> agriculture <br>
              products</h3>
            <div class="services-details__need-help-icon">
              <span class="icon-phone-ringing"></span>
            </div>
            <div class="services-details__need-help-contact">
              <p>Lorem ipsum dolor sit am cons sid</p>
              <a href="tel:12463330088">+ 1- (246) 333-0088</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="services-details__right">
          <div class="services-details__content-box">
            <div class="services-details__img">
              <img src="/images/services/services-details-img-2.jpg" alt="">
              <div class="services-details__img-icon">
                <span class="icon-organic-food"></span>
              </div>
            </div>
            <h3 class="services-details__title">Why Choose Us</h3>
            <p class="services-details__text-1">We are an environmentally conscious organization. Users of our products are encouraged to protect the
              environment through correct and safe use of chemicals as well as proper disposal of empty containers, information that is clearly placed
              for the users of our products on the labels. At N.O.S we are proud to be associated with farmers and promise to always go an extra mile
              in meeting and serving their agricultural needs. NOS is strongly committed to helping farmers get a better crop.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>