<section class="product">
  <div class="container">
    <div class="product__items">
      <div class="product__all">
        <div class="row">
          <!--Product All Single Start-->
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="product__all-single">
              <div class="product__all-img-box">
                <div class="product__all-img">
                  <img src="/images/shop/2-litre.jpg" alt="">
                  <div class="product__all-img-icon">
                    <a href="#"><i class="icon-shopping-cart"></i></a>
                  </div>
                </div>
              </div>
              <div class="product__all-content">
                <h4 class="product__all-title">2 Litre Container20KG Bag</h4>
                <p class="product__all-price">$122.00</p>
              </div>
              <div class="text-right d-flex justify-content-center cursor-pointer">
                <span class="thm-btn">Place your order <i class="icon-right-arrow"></i></span>
              </div>
            </div>
          </div>
          <!--Product All Single End-->
          <!--Product All Single Start-->
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="product__all-single">
              <div class="product__all-img-box">
                <div class="product__all-img">
                  <img src="/images/shop/5-litre.jpg" alt="">
                  <div class="product__all-img-icon">
                    <a href="#"><i class="icon-shopping-cart"></i></a>
                  </div>
                </div>
              </div>
              <div class="product__all-content">
                <h4 class="product__all-title">5 Litre Container</h4>
                <p class="product__all-price">$122.00</p>
              </div>
              <div class="text-right d-flex justify-content-center cursor-pointer">
                <span class="thm-btn">Place your order <i class="icon-right-arrow"></i></span>
              </div>
            </div>
          </div>
          <!--Product All Single End-->
          <!--Product All Single Start-->
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="product__all-single">
              <div class="product__all-img-box">
                <div class="product__all-img">
                  <img src="/images/shop/bag.jpg" alt="">
                  <div class="product__all-img-icon">
                    <a href="#"><i class="icon-shopping-cart"></i></a>
                  </div>
                </div>
              </div>
              <div class="product__all-content">
                <h4 class="product__all-title">20KG Bag</h4>
                <p class="product__all-price">$122.00</p>
              </div>
              <div class="text-right d-flex justify-content-center cursor-pointer">
                <span class="thm-btn">Place your order <i class="icon-right-arrow"></i></span>
              </div>
            </div>
          </div>
          <!--Product All Single End-->
        </div>
      </div>
    </div>
  </div>
</section>