<section class="testimonial-two">
  <div class="testimonial-two__shape-1 float-bob-x" style="
            background-image: url(/images/shapes/testimonial-two-shape-1.png);
          "></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-6">
        <div class="testimonial-two__left">
          <div class="section-title text-left">
            <span class="section-title__tagline">Our Testimonials</span>
            <h2 class="section-title__title">What they’re talking?</h2>
            <div class="section-title__icon">
              <img src="/images/icon/section-title-icon-1.png" alt="" />
            </div>
          </div>
          <div class="testimonial-two__slider">
            <div class="testimonials-two__thumb-wrapper">
              <div class="swiper-container" id="testimonials-two__thumb">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonial-two__img-holder">
                      <img src="/images/testimonial/testimonial-2-1.jpg" alt="" />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial-two__img-holder">
                      <img src="/images/testimonial/testimonial-2-2.jpg" alt="" />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial-two__img-holder">
                      <img src="/images/testimonial/testimonial-2-3.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.testimonials-one__thumb-wrapper -->

            <div class="testimonial-two__main-content">
              <div class="swiper-container" id="testimonials-two__carousel">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonial-two__content-box">
                      <p class="testimonial-two__text">
                        I’ve just had two of the most productive work
                        weeks I have had in years. Ben was perfectly
                        matched to my temperament, and has been taking all
                        the backlogged work off my plate and finishing it.
                      </p>
                      <div class="testimonial-two__client-info">
                        <p class="testimonial-two__client-text">
                          Sarah Albert <span>- Co-Founder</span>
                        </p>
                      </div>
                      <div class="testimonial-two__quote">
                        <span class="icon-quote"></span>
                      </div>
                    </div>
                  </div>
                  <!-- /.swiper-slide -->
                  <div class="swiper-slide">
                    <div class="testimonial-two__content-box">
                      <p class="testimonial-two__text">
                        I’ve just had two of the most productive work
                        weeks I have had in years. Ben was perfectly
                        matched to my temperament, and has been taking all
                        the backlogged work off my plate and finishing it.
                      </p>
                      <div class="testimonial-two__client-info">
                        <p class="testimonial-two__client-text">
                          Kevin Martin <span>- Co-Founder</span>
                        </p>
                      </div>
                      <div class="testimonial-two__quote">
                        <span class="icon-quote"></span>
                      </div>
                    </div>
                  </div>
                  <!-- /.swiper-slide -->
                  <div class="swiper-slide">
                    <div class="testimonial-two__content-box">
                      <p class="testimonial-two__text">
                        I’ve just had two of the most productive work
                        weeks I have had in years. Ben was perfectly
                        matched to my temperament, and has been taking all
                        the backlogged work off my plate and finishing it.
                      </p>
                      <div class="testimonial-two__client-info">
                        <p class="testimonial-two__client-text">
                          Aleesha Brown <span>- Co-Founder</span>
                        </p>
                      </div>
                      <div class="testimonial-two__quote">
                        <span class="icon-quote"></span>
                      </div>
                    </div>
                  </div>
                  <!-- /.swiper-slide -->
                </div>
              </div>
            </div>

            <div id="testimonials-one__carousel-pagination"></div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6">
        <div class="testimonial-two__right">
          <ul class="testimonial-two__counter list-unstyled">
            <li>
              <div class="testimonial-two__counter-icon">
                <span class="icon-seeds"></span>
              </div>
              <div class="testimonial-two__counter-content-box">
                <div class="testimonial-two__counter-count-box">
                  <h3 class="odometer" data-count="4850">00</h3>
                  <span class="counter-one__plus">+</span>
                </div>
                <p class="testimonial-two__counter-text">
                  Agriculture Projects
                </p>
              </div>
            </li>
            <li>
              <div class="testimonial-two__counter-icon">
                <span class="icon-cotton"></span>
              </div>
              <div class="testimonial-two__counter-content-box">
                <div class="testimonial-two__counter-count-box">
                  <h3 class="odometer" data-count="1760">00</h3>
                  <span class="counter-one__plus">+</span>
                </div>
                <p class="testimonial-two__counter-text">
                  Organic Products
                </p>
              </div>
            </li>
            <li>
              <div class="testimonial-two__counter-icon">
                <span class="icon-customer"></span>
              </div>
              <div class="testimonial-two__counter-content-box">
                <div class="testimonial-two__counter-count-box">
                  <h3 class="odometer" data-count="6890">00</h3>
                  <span class="counter-one__plus">+</span>
                </div>
                <p class="testimonial-two__counter-text">
                  Happy Customers
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>